In [8]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    # Tier 1 code modified for exercise

    print("""\nQ10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!\n""")
    
    queryQ10 = """
        SELECT subquery.facid AS 'facility ID', subquery.name, subquery.cost AS revenue
        FROM (
        SELECT Facilities.name,Facilities.facid,
        SUM(CASE WHEN Members.memid = 0 THEN (Facilities.guestcost * Bookings.slots)
            ELSE (Facilities.membercost * Bookings.slots) END) AS cost
        FROM Bookings
        LEFT JOIN Facilities
        USING ( facid )
        LEFT JOIN Members ON Bookings.memid = Members.memid
        -- WHERE Bookings.starttime LIKE '2012-07-05%
        GROUP BY Facilities.name
        ORDER BY cost DESC
            ) AS subquery
        WHERE subquery.cost < 1000
        """
    cur.execute(queryQ10)
    rows = cur.fetchall()
    for row in rows:
        print(row)
        
    print("""\nQ11: Produce a report of members and who recommended them in alphabetic surname,firstname order \n""")
    queryQ11 = """
        SELECT A.memid AS member_id, A.surname AS member_surname,\
            A.firstname AS member_firstname, B.memid AS recommender_id, B.surname AS recommender_surname,\
            B.firstname AS recommender_firstname
        FROM Members A
        LEFT JOIN Members B
        ON A.recommendedby = B.memid
        WHERE B.memid > 0
        ORDER BY A.surname, A.firstname
        LIMIT 10;
        """
    cur.execute(queryQ11)
    rows = cur.fetchall()
    for row in rows:
        print(row)
        
    print("""\nQ12: Find the facilities with their usage by member, but not guests\n""")
    queryQ12 = """
        SELECT *
        FROM Bookings
        WHERE Bookings.memid > 0
        LIMIT 10;
        """
    cur.execute(queryQ12)
    rows = cur.fetchall()
    for row in rows:
        print(row)
        
    print("""\nQ13: Find the facilities usage by month, but not guests\n""")
    queryQ13 = """
        SELECT *
        FROM Bookings
        WHERE Bookings.memid > 0
        -- ORDER BY EXTRACT(MONTH FROM starttime)
        ORDER BY strftime('%m', starttime)
        LIMIT 10;
        """
    cur.execute(queryQ13)
    rows = cur.fetchall()
    for row in rows:
        print(row)
    
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)

        
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

(8, 'Pool Table', 270)
(7, 'Snooker Table', 240)
(3, 'Table Tennis', 180)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

(15, 'Bader', 'Florence', 9, 'Stibbons', 'Ponder')
(12, 'Baker', 'Anne', 9, 'Stibbons', 'Ponder')
(16, 'Baker', 'Timothy', 13, 'Farrell', 'Jemima')
(8, 'Boothe', 'Tim', 3, 'Rownam', 'Tim')
(5, 'Butters', 'Gerald', 1, 'Smith', 'Darren')
(22, 'Coplin', 'Joan', 16, 'Baker', 'Timothy')
(36, 'Crumpet', 'Erica', 2, 'Smith', 'Tracy')
(7, 'Dare', 'Nancy', 4, 'Joplette', 'Janice')
(20, 'Genting', 'Matthew', 5, 'Butters', 'Gerald')
(35, 'Hunt', 'John', 30, 'Purview', 'Millicent')

Q12: Find the facilities with their usage by member, but not guests

(0, 3, 1, '2012-07-03 11:00:00', 2)
(1, 4, 1, '2012-07-03 08:00:00', 2)
(3, 7, 1, '2012-07-03 19:00:00', 2)
(4, 8, 1, '2012-07-03 10:00:00', 1)
(5, 8, 1, '2012-07-03 15:00:00', 1)
(6, 0, 2, '2012-07-04 09:00:00', 3)
(7, 0, 2, '2012-07-04 15:00:00', 3)
(8, 4, 3, '2012-07-04 13:30:00', 2)
(13, 6, 1, '2012-07-04 15:30:00', 2)
(14, 7, 2, '2012-07-04 14:00:00', 2)

Q13: Find the facilities usage by month, but not guests

(0, 3, 1, '2012-07-03 11:00:00', 2)
(1, 4, 1, '2012-07-03 08:00:00', 2)
(3, 7, 1, '2012-07-03 19:00:00', 2)
(4, 8, 1, '2012-07-03 10:00:00', 1)
(5, 8, 1, '2012-07-03 15:00:00', 1)
(6, 0, 2, '2012-07-04 09:00:00', 3)
(7, 0, 2, '2012-07-04 15:00:00', 3)
(8, 4, 3, '2012-07-04 13:30:00', 2)
(13, 6, 1, '2012-07-04 15:30:00', 2)
(14, 7, 2, '2012-07-04 14:00:00', 2)